.background-section {
    text-align: center;
    height: calc(100vh - 120px );
    height: calc(100vh - var(--totalbar-height) );
    background-color: rgba(0, 0, 0, .3);
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}
.background-section > div {
    font-weight: bold;
    font-size: min(10vw, 70px);
    color: white;
    margin: 0;
    display: inline;
    vertical-align: middle;
}
.ab {
    min-height: 100vh;
    background-color: white;
}
.ab > .grid {
    padding: 80px 5%;

    display: grid;
    display: -ms-grid;
    grid: auto / min(500px, 30%) min(500px, 30%) min(500px, 30%);
    -ms-grid: auto / 30% 30% 30%;
    -ms-grid-gap: 5%;
    grid-gap: 5%;
    margin: auto;
}
.card {
    background-color: black;
    padding: 0;
}
.card > .img {
    padding-top: 100%;
}
.card > .img:hover {
    filter: brightness(.7) contrast(1.3);
}
.card > .text{
    margin: 30px;
    background-color: black;
    color: white;
}
.card > .text > h1 {
    font-weight: normal;
}
.card > .text > button {
    float: right;
    background-color: white;
    border: 0;
    padding: 10px 15px;
}
.card > .text > button:hover, .card > .text > button:focus {
    filter: brightness(.7);
    outline: 0;
}

.parallax__layer--back {
    margin-top: calc(120px - 15px);
    margin-top: calc(var(--totalbar-height) - 15px);
    width: 100vw;
    transform: translateZ(-2px) scale(3);
    -webkit-transform: translateZ(-2px) scale(3);
    -webkit-transform: translateZ(-2px) scale(3);
    z-index: 1;
}

.parallax__layer--back > img {
    min-width: 100vw;
    min-height: 100vh;
    margin-left: 50%;
    transform: translateX(-50%);
    transform: translateX(-50%);
    transform: translateX(-50%);
}