:root {
    --titlebar-height: 70px;
    --menubar-height: 50px;
    --totalbar-height: calc( var(--titlebar-height) + var(--menubar-height) )
}
#loading {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 10;
    display: none;
}
#transition {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 500ms ease-in-out;
}

body {
    margin: 0;
    font: 100% / 1.5 Arial;
    overflow: hidden;
}

.menubar, .titlebar {
    padding: 0 50px;
    z-index: 3;
}

.menubar {
    position: sticky;
    top: 0;
    background-color: rgb(247, 247, 247);
    height: 50px;
    height: var(--menubar-height);
}

.menubar > button, .menubar > a > button {
    color: inherit;
    height: 40px;
    margin: 5px 10px;
    padding: 1px 10px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
}
.menubar > button:hover, .menubar > a > button:hover {
    background-color: rgba(0, 0, 0, .1);
}


.titlebar {
    position: sticky;
    top: 0;
    height: 70px;
    height: var(--titlebar-height);
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.titlebar > h1 {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    line-height: 70px;
    line-height: var(--titlebar-height);
}

.devider {
    margin: 15px 0 30px;
    border-top: 1px solid white;
}

#unsupported {
    text-align: center;
}
#unsupported > .text {
    padding: 0 15px;
}
.ignore {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: transparent;
    border: none;
}
.ignore:hover {
    background-color: rgb(192, 192, 192);
}
.buttons {
    display: inline-block;
}
.browserIcon {
    min-width: 160px;
    float: left;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}
.browserIcon:hover {
    background-color: rgb(192, 192, 192);
}
.browserIcon > a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.browserIcon > a > div {
    padding: 10px;
}
.browserIcon > a > div > img {
    width: 100%;
    max-width: 100px;
    margin: auto;
}